:root {
    --logo-color: white;
    --button-color: #596D48;
    --button-border-color: #E5E7EB;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
}

#sidebar {
    background: url(assets/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar a {
    color: var(--logo-color);
}

#credit {
    color: var(--logo-color);
    text-align: center;
    opacity: .75;
}

#logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    position: relative;
    top: 25%;
    bottom: auto;
    height: 12rem;
}

#logo-section p {
    color: var(--logo-color);
    font-family: 'Norse';
    font-size: 8rem;
}

#logo-section img {
    height: 80%;
    width: auto;
}

#main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
}

#section-1 {
    height: 35%;
    font-size: 1.3rem;
    font-weight: bold;
}

#section-2 {
    background-color: white;
    height: auto;
    overflow: hidden;
    box-shadow: 0 6px 6px -2px rgba(0, 0, 0, .1);
    padding-bottom: 1.5rem;
}

#form-header {
    font-size: 1.5rem;
    font-weight: bold;
}

#section-3 {
    font-size: 1.2rem;
}

#section-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#section-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-section a {
    text-decoration: none;
    color: var(--button-color);
}

#main-section a:hover {
    color: black;
}

#container-1,
#container-2,
#container-3 {
    margin-left: 5rem;
}

#container-1 {
    max-width: 60%;
    margin-bottom: 2rem;
}

#container-3 {
    margin-top: 2rem;
}

#container-3 button {
    background-color: var(--button-color);
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 50px;
}

#container-3 button:hover {
    background-color: black;
}

@font-face {
    font-family: 'Norse';
    src: url(assets/Norse-Bold.woff2);
}

input {
    border: 1px solid var(--button-border-color);
    border-radius: 3px;
    width: 16rem;
    height: 22px;
    font-size: 1rem;
}

label,
input {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: .1rem;
    color: rgba(0, 0, 0, .7)
}

input:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subsection-1,
#subsection-2,
#subsection-3 {
    display: flex;
    gap: 4rem;
}

/* remove browser autocomplete color */
/* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill {
    -webkit-background-clip: text;
}